@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("../images/flags/flag-icons.css");

$dark-grey-color: #1c1c1c;
$light-grey-color: #303134;
$white-color: #ffffff83;
$zero-g-red-color: #E34234;

$body-background-color: $light-grey-color;
$sidebar-color: $dark-grey-color;
$border-color: #3c4043;

$body-text-color: #bdc1c6;
$body-heading-color: $zero-g-red-color;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $body-text-color;

$link-color: $zero-g-red-color;
$btn-primary-color: $blue-200;
$base-button-color: $light-grey-color;

$code-background-color: $light-grey-color;
$search-background-color: $light-grey-color;
$table-background-color: $light-grey-color;
$feedback-color: darken($sidebar-color, 3%);

$callouts: (
    important: ($white-color, rgba(255, 255, 255, 0.05), 'IMPORTANT'),
    warn: ($zero-g-red-color, rgba($zero-g-red-color, .05), 'WARNING'),
    danger: ($red-300, rgba($red-000, .2), 'DANGER'),
    note: ($white-color, rgba(255, 255, 255, 0.05), ''),
);

@each $class, $props in $callouts {
    .#{$class} {
        background: nth($props, 2);
        border-left: $border-radius solid nth($props, 1);
        border-radius: $border-radius;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
        padding: .8rem;

        &::before {
            color: nth($props, 1);
            content: nth($props, 3);
            letter-spacing: 0.02rem;
            display: block;
            font-weight: bold;
            font-size: .75em;
            padding-bottom: .125rem;
        }
    }
}

.img {
    text-decoration: none !important;
}

.p {
    font-weight: 300 !important;
}

.html, body, .main-header, .main, .search-input {
    background-image: url(/assets/images/layout/background_lite.png) !important;
}

.side-bar {
    background-image: url(/assets/images/layout/background_dark.png) !important;
}

.highlight {
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: $border-radius;
}

code {
    background-color: rgba(0, 0, 0, 0.00) !important;
}

.roundcorners {
    border-radius: 5px;
}

.zoom {
    transition: transform .3s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    position:relative;
    -ms-transform: scale(1.75); /* IE 9 */
    -webkit-transform: scale(1.75); /* Safari 3-8 */
    transform: scale(1.75);
    z-index:1000;
    cursor: zoom-in;
}

.zoom2 {
    transition: transform .3s; /* Animation */
    margin: 0 auto;
}

.zoom2:hover {
    position:relative;
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
    z-index:1000;
    cursor: zoom-in;
}

.table-wrapper {
    box-shadow: none !important;
}

.transparant_table td, .transparant_table th {
    border: none !important;
    white-space: nowrap;
    line-height: 2em;
    background-color: #ffffff10;
}

.hardwaretable td {
    border: none !important;
    white-space: nowrap;
    line-height: 2em;
    background-color: #ffffff10;
}


.hardwaretable td:nth-child(1) {
    text-align: right;
    min-width: inherit;
    max-width: inherit;
    white-space: nowrap;
    font-weight: bold;
}

/*
* Experimental Lightbox. Made by: Oo na na whats her name?#0596
* This is a purely CSS lightbox no javascript is involved. 
* To add a lightbox simply copy-paste the markdown code to the bottom of .md page.
* Change the img source to the corresponding image.
* Give each picture their own ID tag corresponding to the lightbox item.
*/

.lightbox__item {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0,0);
    transform-origin: center;
    transition: transform ease-in-out 200ms;
    cursor: zoom-out;
    z-index: 9999;
}

.lightbox__item:target {
    transform: scale(1,1);
    transform-origin: center;
}

.lightbox__content {
    max-height: 100%;
    max-width: 90%;
    background: #191919fa;
    border-radius: 9px;
    filter: drop-shadow(1mm 1mm 3mm #0000005d);
    border: solid #4b4c4e 6px;
    border-width: 1px;
    text-align: center;
    margin:auto;
    position: relative;
}

.lightbox__titlebar {
    height: 1.8em;
    width: 4em;
    font-weight: 200;
    position: relative;
}

.lightbox__titlebar::after {
    content: "Pop-up";
    color: white;
    font-weight: 200;
}

.lightbox__content img {
    max-height: 90vh;
    max-width: 90vw;
}

.lightbox_wrapper {
    background-image: none;
    cursor: zoom-in;
}

.lightbox_logo {
    background-image: url(/assets/images/icons/zoom_in.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2em;
    height: 2em;
}

.close {
    position: absolute;
    background: #c42b1c;
    top: 0em;
    right: 0em ;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75em;
    width: 2.8em;
    border-top-right-radius: 7px;
}

.close::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' fill='white' class='bi bi-x-lg' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/%3E%3C/svg%3E");
    margin-top: 5px;
    margin-right: 1px;
}

.main-content a.floatingtop {
    position: fixed;
    animation: pop 2.5s infinite;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3); 
    text-align: center;
    width: 2.3em;
    height: 2.3em;
    right: 4%;
    bottom: 4%;
}

.main-content a.floatingtop::before {
    content: url(..//images/icon/arrow-up.svg);
    font-size: 1.4em;
}

@keyframes pop {
    0% { transform: translate(-30%, -30%);}
    50% { transform: translate(-30%, -40%);}
    100% { transform: translate(-30%, -30%);}
}


.store_table th, td{
    border-style : hidden!important;
    font-weight: 200;
    background: none;
}

.store_table td {
    border-top: 1px solid #2b2b2b !important;
    background: none;
}

.store_table td:nth-child(2) {
    text-align: left;
}

.store_table td:nth-child(2), a {
    background-image: none !important;
    font-weight: 500;
}

.storebox__item {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0,0);
    transform-origin: center;
    transition: transform ease-in-out 200ms;
    z-index: 9999;
}

.storebox__item:target {
    transform: scale(1,1);
    transform-origin: center;
}

.storebox__content {
    max-height: 100%;
    max-width: 90%;
    background: #191919fa;
    border-radius: 9px;
    filter: drop-shadow(1mm 1mm 3mm #0000005d);
    border: solid #4b4c4e 6px;
    border-width: 1px;
    text-align: center;
    margin:auto;
    position: relative;
}

.storebox__titlebar {
    height: 1.8em;
    width: 100%;
    font-weight: 300;
    text-align: left;
    padding-top: 1px;
    padding-left: 10px;
    margin-right: 5em;
    position: relative;
}

.storebox__titlebar::after {
    color: #bdc1c6;
    font-weight: 200;
    z-index: -1;
}

.storebox__content{
    max-height: 90vh;
    max-width: 90vw;
    z-index: 99999;
}

.storebox_clickclose {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.storebox_close {
    position: absolute;
    background: #c42b1c;
    top: 0em;
    right: 0em ;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75em;
    width: 2.8em;
    border-top-right-radius: 7px;
}

.storebox_close::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='white' class='bi bi-x-lg' viewBox='0 0 14 14'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/%3E%3C/svg%3E");
    margin-top: 0px;
    margin-right: 2px;
}

.btn:active, .btn:focus {

}

.textfield_dark {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 0.3em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    color: #E34234;
    text-decoration: none;
    vertical-align: baseline;
    background-color: #303134;
    border-width: 0;
    border-radius: 4px;
    appearance: none;
}