$dark-grey-color: #2f3136;
$light-grey-color: #36393f;
$zero-g-red-color: #E34234;


$body-background-color: $light-grey-color;
$sidebar-color: $dark-grey-color;
$border-color: #474b52;

$body-text-color: #d7d8d9;
$body-heading-color: $zero-g-red-color;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $body-text-color;

$link-color: $zero-g-red-color;
$btn-primary-color: $blue-200;
$base-button-color: $light-grey-color;

$code-background-color: $light-grey-color;
$search-background-color: $light-grey-color;
$table-background-color: $light-grey-color;
$feedback-color: darken($sidebar-color, 3%);