$dark-grey-color: #2f3136;
$light-grey-color: #36393f;
$white-color: #ffffff83;
$zero-g-red-color: #E34234;

$body-background-color: $light-grey-color;
$sidebar-color: $dark-grey-color;
$border-color: #474b52;

$body-text-color: #d7d8d9;
$body-heading-color: $zero-g-red-color;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $body-text-color;

$link-color: $zero-g-red-color;
$btn-primary-color: $blue-200;
$base-button-color: $light-grey-color;

$code-background-color: $light-grey-color;
$search-background-color: $light-grey-color;
$table-background-color: $light-grey-color;
$feedback-color: darken($sidebar-color, 3%);

$callouts: (
    important: ($white-color, rgba(255, 255, 255, 0.05), 'IMPORTANT'),
    warn: ($zero-g-red-color, rgba($zero-g-red-color, .05), 'WARNING'),
    danger: ($red-300, rgba($red-000, .2), 'DANGER'),
    note: ($white-color, rgba(255, 255, 255, 0.05), ''),
);

@each $class, $props in $callouts {
    .#{$class} {
        background: nth($props, 2);
        border-left: $border-radius solid nth($props, 1);
        border-radius: $border-radius;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
        padding: .8rem;

        &::before {
            color: nth($props, 1);
            content: nth($props, 3);
            letter-spacing: 0.02rem;
            display: block;
            font-weight: bold;
            font-size: .75em;
            padding-bottom: .125rem;
        }
    }
}

.highlight {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: $border-radius;
}

code {
    background-color: rgba(0, 0, 0, 0.00) !important;
}

.roundcorners {
    border-radius: 5px;
}

.zoom {
    transition: transform .3s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    position:relative;
    -ms-transform: scale(1.75); /* IE 9 */
    -webkit-transform: scale(1.75); /* Safari 3-8 */
    transform: scale(1.75);
    z-index:1000;
    cursor: zoom-in;
}

.zoom2 {
    transition: transform .3s; /* Animation */
    margin: 0 auto;
}

.zoom2:hover {
    position:relative;
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
    z-index:1000;
    cursor: zoom-in;
}

.table-wrapper {
    box-shadow: none !important;
}

.hardwaretable td {
    border: none !important;
    white-space: nowrap;
    line-height: 2em;
}

.hardwaretable td:nth-child(1) {
    text-align: right;
    min-width: inherit;
    max-width: inherit;
    white-space: nowrap;
    font-weight: bold;
}